server {
    listen 80;
    server_name _;

    location /api/ {
        proxy_pass http://${API_HOST}:${API_PORT}/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location = /healthz {
        return 200 "ok";
        add_header Content-Type text/plain;
    }

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri /index.html;
    }
}
